.container {
  display: flex;
  justify-content: center;
  z-index: 500;
  position: absolute;
  top: 50px;
  width: 100%;
}

.container__box {
  background-color: rgb(0 0 0 / 85%);
  border-radius: 50px;
  min-width: 16vw;
}
.text {
  max-width: 48ch;
  color: white;
  padding: 12px;
  text-align: center;
}

.hiddin {
  display: none;
}
